button {
    background: chartreuse;
    height: 40px;
    padding: 0px 10px;
    border-radius: 5px;
    width: 100%;
    color: #444;
    font-weight: bold;
    cursor: pointer;
    border: none;
}
